@use '../abstracts/variables';

.btn {
  display: inline-flex;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.3rem 3.5rem 1.1rem 3.1rem;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 700;
  letter-spacing: 0.4375rem;
  transition:
    background-color 0.3s,
    color 0.3s;
  cursor: pointer;

  &:disabled,
  &.disabled {
    cursor: not-allowed;
  }
  &:focus {
    outline: none;
  }

  &--primary {
    background-color: hsl(var(--clr-primary-soft-red));
    color: #fff;

    &:hover,
    &:focus {
      background-color: hsl(var(--clr-neutral-900));
    }
  }
}
